<h2>Cauta Serie Anime Tradusa</h2>

<!-- 
UI for the user to input the serie he is searching.
    @input passes the name for the searchOptions
 -->
<form action="/series" method="GET">
    <label>Titlu</label>
    <input type="text" name="title" value="<%= searchOptions.title %>">
    <button type="submit">Search</button>
</form>

<!-- Afisarea tuturor seriilor -->
<br>
<% series.forEach(serie => { %>
    <div><%= serie.title %></div>
    <a href="/series/<%= serie.id %>">Arata</a>
    <a href="/series/<%= serie.id %>/edit">Editeaza</a>
    <%- include('../partials/deleteForm', { url: `/series/${serie.id}`}) %>

    <img height="150" width="100" src="<%= serie.coverImagePath %>">
<% }) %>