<h2>Cauta Episod Anime Tradus</h2>

<!-- 
UI for the user to input the serie he is searching.
    @input passes the name for the searchParameters
 -->
<form action="/episodes" method="GET">
    <div>
        <label>Titlu</label>
        <input type="text" name="title" value="<%= searchParameters.title %>">
    </div>
    <div>
        <label>Numarul episodului</label>
        <input type="number" min="1" name="episodeNumber" value="<%= searchParameters.episodeNumber %>">
    </div>
    <button type="submit">Search</button>
</form>

<!-- Afisarea tuturor episoadelor -->
<br>
<% episodes.forEach(episod => { %>
    <div>
        <a href="/episodes/<%= episod.id %>">
            <div>Episodul numarul: <%= episod.episodeNumber %></div>
            <div>Titlul: <%= episod.title %></div>
        </a>
    </div>
<%}) %>
